<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="post" name="registration form">
        <label for="username">Firstname</label>
        <input type="text" placeholder="enter your first name here" required> <br>
        <label for="username">Lastname</label>
        <input type="text" placeholder="enter your last name here" required> <br>
        <label for="password">Password</label>
        <input type="password" placeholder="enter your password" required><br>
        <label for="confirm password">Confirm Password</label>
        <input type="password" placeholder="re-enter your password" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>